.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
}

.heading {
    font-family: 'Roboto';
    text-align: center;
    font-size: 22px;
}


.images-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.date{
    font-size: 10px;
}
@media screen and (min-width: 768px){
    .images-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 180px;
    margin: 7px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 160px;
        height: 240px;
        margin-bottom: 16px;
    }
}


@media screen and (min-width: 1200px) {
    .image-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-align: center;
        width: 300px;
        height: 350px;
        margin-bottom: 16px;
    }
}

.image {
    object-fit:cover;
    height: 110px;
    width: 60px;
}

@media screen and (min-width: 768px) {
    .image {
        object-fit: cover;
        height: 180px;
        width: 130px;
    }
}


@media screen and (min-width: 1200px) {
    .image {
       object-fit: cover;
        height: 290px;
        width: 220px;
    }
}


.title {
    font-family: "Roboto";
    font-size: 10px;
}


@media screen and (min-width: 768px) {
    .title {
        font-family: "Roboto";
        font-size: 12px;
    }
}


@media screen and (min-width: 1200px) {
    .title {
        font-family: "Roboto";
        font-size: 18px;
}
}

.modalImage{
    width:100%;
    height: 50vh;
    object-fit: fill;
    border-radius: 16px;
}