.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
}




.Gallery-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    margin-top: 25px;
}

@media screen and (min-width: 768px){
    .Gallery-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
    height: 200px;
    margin: 20px;
   
    
}

@media screen and (min-width: 768px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 160px;
        height: 290px;
    }
}


@media screen and (min-width: 1200px) {
    .image-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-align: center;
        width: 250px;
        height: 400px;
        margin-bottom: 22px;
    }
}

.image {
    height: 100px;
    width: 70px;
    
}

@media screen and (min-width: 768px) {
    .image {
        height: 210px;
        width: 160px;
    }
}


@media screen and (min-width: 1200px) {
    .image {
        height: 290px;
        width: 250px;
        
    }
}


.title {
    font-family: "Roboto";
    font-size: 10px;
    width: 80px;
}


@media screen and (min-width: 768px) {
    .title {
        font-family: "Roboto";
        font-size: 6px;
    }
}


@media screen and (min-width: 1200px) {
    .title {
        font-family: "Roboto";
        font-size: 12px;
    }
}

