.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
}

.heading {
    font-family: 'Roboto';
    text-align: center;
    font-size: 22px;
}


.Gallery-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px){
    .Gallery-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 160px;
    margin: 7px;
}

@media screen and (min-width: 768px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 160px;
        height: 240px;
    }
}


@media screen and (min-width: 1200px) {
    .image-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-align: center;
        width: 300px;
        height: 350px;
    }
}

.image {
    height: 80px;
    width: 80px;
}

@media screen and (min-width: 768px) {
    .image {
        height: 150px;
        width: 150px;
    }
}


@media screen and (min-width: 1200px) {
    .image {
        height: 260px;
        width: 260px;
    }
}


.title {
    font-family: "Roboto";
    font-size: 12px;
}


@media screen and (min-width: 768px) {
    .title {
        font-family: "Roboto";
        font-size: 16px;
    }
}


@media screen and (min-width: 1200px) {
    .title {
        font-family: "Roboto";
        font-size: 22px;
    }
}